<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🏆 2026 FIFA 世界杯</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 首页
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="bi bi-calendar-event-fill-nav-menu" aria-hidden="true"></span> 赛程赛果
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> 球队积分
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rankings">
                <span class="bi bi-trophy-fill-nav-menu" aria-hidden="true"></span> 实力榜
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scorers">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> 金靴预测
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stadiums">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> 球场巡礼
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="news">
                <span class="bi bi-newspaper-nav-menu" aria-hidden="true"></span> 新闻资讯
            </NavLink>
        </div>
    </nav>
</div>
